<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,300i,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>О нас</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
  <h1>Страница про нас</h1>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam suscipit quo temporibus facere quidem, sapiente fuga eveniet. Omnis aliquid officia culpa, deleniti molestias repellat iure autem dolor enim odit amet.</p>
  <a href="/">Главная</a> 

  <form method="post" action="/check-user">
    <input type="text" name="username" placeholder="Имя пользователя"> 
    <button type="submit">Поиск</button> 
  </form>
</body>
</html>
